.header-container.type21 {
  padding: 5px 30px 13px;

  @media(min-width: 992px) {
    width: 314px !important;
  }

  .template-index & {background-color: rgba(48, 48, 48, .9);}

  &.fixed-bottom {
    position: fixed;
    top: auto;
    bottom: 0;
  }

  .links {
    margin: 0;

    li {
      padding: 13px 5px;
      border: 0;
      line-height: 1;
      text-transform: uppercase;

      a {
        padding: 10px 3px;
        letter-spacing: .01em;
        text-transform: uppercase;
      }
    }
  }

  .header {
    .custom-block {
      bottom: 5%;
      padding: 20px 30px;
      font-family: 'Poppins';
      font-size: 13px;
      text-align: left;

      address {
        display: block;
        color: #a8a8a8;
        font-size: 13px;
        text-align: center;
      }

      .social-icons {
        display: inline-block;
        margin-right: 20px;
        float: none;

        a {
          width: 34px;
          height: 34px;
          margin-right: 2px;
          margin-left: 0;
          float: left;
          border-radius: 0;
          background-color: #282828;
          background-image: none;
          font-size: 12.8px;
          line-height: 34px;
          text-indent: 0;

          &:first-child {margin-left: 0;}
        }
      }
    }
  }

  .site-logo {
    display: block;

    .logo {
      margin: 25px 0 30px 0;
    }
  }

  .top-navigation.side-menu {
    margin: 0;
    margin-right: -10px !important;

    >li {
      >a {
        border: 0;
        font-weight: 500;
        letter-spacing: .01em;
        text-transform: uppercase;
      }

      .menu-wrap-sub {
        padding: 10px 5px;
        border: solid 1px #dae2e6;
        box-shadow: 0 3px 15px -2px rgba(0, 0, 0, .3);

        &::before {
          position: absolute;
          top: 11px;
          left: -16px;
          border: 8px solid;
          border-color: transparent #fff transparent transparent;
          content: '';
          z-index: 3;
        }
      }

      &.parent a.level-top::after {
        right: 10px;
        color: #b0b0b0;
        content: '\e81a';
      }

      &:hover {background: transparent !important;}

      &.level0 {
        ul li.groups {
          > a {
            line-height: 24px;
          }
        }
      }

      &.m-dropdown {
        .menu-wrap-sub {
          &.dropdown {
            background-color: #fff !important;

            ul li.parent {
              >a {
                &:hover {background-color: #f4f4f4;}

                &::before {
                  right: 10px;
                  margin-top: -12px;
                  color: #b0b0b0;
                  content: '\e81a';
                }
              }

              .menu-wrap-sub {
                background-color: #fff;

                &::before {display: none;}

                ul.level1 {
                  li.level2 {
                    a {
                      color: #696969;

                      &:hover {background-color: #f4f4f4;}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .select-language {width: 77px;}

  .mini-cart {
    position: relative;
  
    .cart-wrapper {
      top: 30px;
      left: -25px;
    }
  }

  .cart-design-5 {
    .icon-cart-header {
      position: relative;
      padding: 0 19px 0 0;
      line-height: 37px;
    }
  }

  .search-area {
    padding: 0;

    .searchform .searchsubmit::after {
      font-size: 15px;
      content: '\e884';
    }
  }

  .currency-wrapper,
  .language-wrapper,
  .compare-link {
    height: 24px;

    > a {
      padding-left: 0;
      font-family: 'Poppins';
      font-size: 13px;

      i::before {
        font-size: 14px;
        font-weight: 600;
        content: '\e81c';
      }
    }
  }
}.header-container.type21 {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  border: 0;
  text-align: center;
  z-index: 99;

  &.fixed-bottom {
    position: fixed;
    top: auto;
    bottom: 0;
  }

  &.sticky-header .logo {display: block;}
  &.sticky-header .mini-cart .cart-design-1 .icon-cart-header {padding: 4px 7px;}

  .top-links-area {
    display: block;
  }

  .links {
    display: block;

    li {
      display: block;

      &:first-child {border-top: 0;}
    }
  }

  .header {
    position: static;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    padding-top: 0;
    padding-bottom: 145px;

    .custom-block {
      position: absolute;
      left: 0;
      width: 100%;

      div >* {vertical-align: middle;}

      span.split {
        width: 1px;
        height: 14px;
        margin: 0 13px;
        border-right: 1px solid #eee;
      }

      a {
        color: inherit;
        font-size: 12px;
      }

      .social-icons {
        a {
          color: #fff;
          text-align: center;
        }
      }
    }
  }

  .top-navigation.side-menu {
    text-align: left;

    > li > a {margin: 0;}
  }

  .mini-cart {
    margin-left: auto;

    .cart-wrapper {
      &::before {
        right: auto !important;
        left: 35px;
      }
    }
  }

  .cart-design-1 {
    padding: 0;

    .icon-cart-header {
      height: 26px;
      padding: 4px 7px;
      border-radius: 2px;
      background-color: #010101;

      .cart-total {padding: 1px 3px;}
    }
  }

  .search-area {
    position: relative;
    width: 100%;
    margin: 0 0 20px;

    .search-extended {
      width: 100%;
      min-width: auto;
    }
  }

  .searchform input[type=text] {
    padding-right: 50px;
  }

  .header-wrapper {
    display: block;
    padding: 10px 0;
    border: 0;
  }

  .switcher-area {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    z-index: 4;

    .split {display: none;}
  }

  .mobile-group {
    width: 100%;
  }}

@media (max-width: 991px) {
  .header-container.type21 {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    min-height: 0;
    padding: 10px;

    &.fixed-bottom {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      min-height: 0;
      padding: 10px;
    }

    &.sticky-header {
      position: fixed;
      top: 0;
      bottom: auto;
      width: 100%;
    }

    .mini-cart .cart-wrapper {
      left: auto;

      &::before {
        right: 27px !important;
        left: auto;
      }
    }

    .header {
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 0 7px;
      text-align: left;
    }

    .menu-icon {
      width: 25px;
      height: auto;
      margin-left: 15px;
      padding: 0;
    }

    .site-logo {
      .logo {margin: 22px 0 20px;}
    }

    .search-area {
      width: auto;
      height: auto;
      margin: 0;

      .search-icon {
        display: block;
        line-height: 25px;
      }

      .search-extended {
        display: none;
        position: absolute !important;
        top: 30px;
        right: -40px;
        width: 280px;
      }
    }

    .navigation-wrapper {display: none;}

    .mobile-group {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      width: auto;
    }

    .top-links-area {
      margin: 0 10px 0 0;
    }

    .top-links-icon {display: block;}

    .links {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      padding: 5px 7px;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

      li {
        padding: 0;
        border: 0;

        a {
          color: #777;
          font-size: 11px;
        }
      }
    }

    .header .custom-block {display: none;}
  }
}

@media screen and (min-width: 1200px) {
  .header-container.type21 .top-navigation.side-menu>li .menu-wrap-sub {
    width: 920px;
  }
}